{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Events</h2>
    <form method="GET" action="{% url 'event-list' %}" class="d-flex justify-content-center mb-5">
        <div class="input-group" style="max-width: 600px;">
            <input type="text" name="q" class="form-control rounded-pill-start" placeholder="Search events..." value="{{ request.GET.q }}" aria-label="Search events">
            <button type="submit" class="btn btn-primary rounded-pill-end">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
    <div class="row">
        {% for event in events %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
                        <p class="card-text"><strong>Time:</strong> {{ event.time }}</p>
                        <p class="card-text"><strong>Location:</strong> {{ event.location }}</p>
                        <p class="card-text"><strong>Organization:</strong> {{ event.organization.org_code }}</p>
                        <p class="card-text"><strong>Participation:</strong> {{ event.get_participation_display }}</p>
                        <a href="{% url 'event-detail' event.id %}" class="btn btn-secondary mt-2">See Event Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}